# While Loops

In [1]:
a = 1

while a <= 10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

sum up the number till some point

In [3]:
n = int(input('Enter your limit: '))
starting_point = 0
counter = 1

while counter <= n:
    starting_point = starting_point+counter
    counter = counter+1
print(starting_point)

Enter your limit:  5

15

Factorial

In [4]:
number = int(input('Enter your number: '))

factorial = 1
while number > 0:
    factorial = factorial*number
    number = number-1
print(factorial)

Enter your number:  5

120

Fibonacci Series

In [10]:
number = int(input('Enter your number of elements you are looking for: '))

a,b = 0,1
counter = 0

while counter<number:
    print(a)
    c = a+b
    a = b
    b = c
    counter = counter+1

Enter your number of elements you are looking for:  10

0
1
1
2
3
5
8
13
21
34

In [11]:
a,b = 0,1

for i in range(10):
    print(a)
    c = a+b
    a = b
    b = c
    counter = counter+1

0
1
1
2
3
5
8
13
21
34

In [12]:
s = 'sudh'

In [13]:
s[::-1]

'hdus'

In [20]:
word = input("Enter yous string for reversal: ")

reverse = ""
length = len(word)

while length>0:
    letter= word[length-1]
    reverse = reverse+letter
    length = length-1
print(reverse)

Enter yous string for reversal:  sudh

hdus

In [22]:
word = input("Enter yous string for reversal: ")

reverse = ""
length = len(word)
while length>0:
    letter= word[length-1]
    reverse = reverse.join(letter)
    length = length-1
    print(reverse)

Enter yous string for reversal:  sudh

h
d
u
s

print math tables

In [27]:
number = int(input('Enter number of table: '))
counter = 0

while counter<=10:
    print(number, 'x', counter, '=', number*counter)
    counter = counter +1

Enter number of table:  2

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [29]:
number = int(input('Enter number of table: '))

for counter in range(11):
    print(number, 'x', counter, '=', number*counter)

Enter number of table:  2

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

## While-Else

In [31]:
n= 5
i=1

while i <n:
    print(i)
    i = i+1
else:
    print('i is not less than n')

1
2
3
4
i is not less than n

In [32]:
n= 5
i=1

while i <n:
    print(i)
    if i == 3:
        break
    i = i+1
else:
    print('i is not less than n')

1
2
3

# Comprehension

In [34]:
l = [1,3,4,5,3,6,55,66]
l1 = []
#create a new list that contain squares of the elements of the current list

#using simple for loop
for each_element in l:
    l1.append(each_element**2)
l1

[1, 9, 16, 25, 9, 36, 3025, 4356]

In [36]:
#using list comprehension

l2 = [each_element**2 for each_element in l]
l2

[1, 9, 16, 25, 9, 36, 3025, 4356]

In [43]:
#extract even numbers out of l
l3 =[each_element for each_element in l if each_element%2==0]
l3

[4, 6, 66]

In [46]:
#string comprehension
l1 = ['sudh', 'pwskills', 'kumar', 'data science masters']

l4 = [each_word.upper() for each_word in l1]
l4

['SUDH', 'PWSKILLS', 'KUMAR', 'DATA SCIENCE MASTERS']

In [47]:
l

[1, 3, 4, 5, 3, 6, 55, 66]

In [49]:
# tuple comprehension
l5= list(each_element**2 for each_element in l)
l5

[1, 9, 16, 25, 9, 36, 3025, 4356]

In [54]:
#dict comprehension

d = {'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

#squre each value and return in a list

l6=[each_value**2 for each_value in d.values()]
l6

[1, 4, 9, 16]

In [55]:
#dict comprehension

d = {'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

#squre each value and return in a new dict

d2={each_key:each_value**2 for each_key,each_value in d.items()}
d2

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [56]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [57]:
d3={k:v for k, v in d.items() if v>1}
d3

{'key2': 2, 'key3': 3, 'key4': 4}

# Functions

In [59]:
def test():
    print('this is not my very very first function')

In [60]:
test()

this is not my very very first function

In [63]:
test()+'sudh'

this is not my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [61]:
def test2():
    return 'this is not my very first return'

In [62]:
test2()

'this is not my very first return'

In [64]:
test2()+'sudh'

'this is not my very first returnsudh'

In [65]:
def test3():
    return 'sudh', 23, 34.55, [1,2,34,4]

In [66]:
test3()

('sudh', 23, 34.55, [1, 2, 34, 4])

In [67]:
name, num1, num2, list1 = test3()

In [69]:
name

'sudh'

In [70]:
num1

23

In [71]:
def test4():
    a = 5+6/7
    return a

In [72]:
test4()

5.857142857142857

In [73]:
def test5(a,b,c):
    d = a+b/c
    return d

In [74]:
test5(5,6,7)

5.857142857142857

In [75]:
def test6(a,b):
    return a+b

In [76]:
test6(3,4)

7

In [77]:
test6('sudh','kumar')

'sudhkumar'

In [79]:
test6([2,3,5,4],[1,4,6,5])

[2, 3, 5, 4, 1, 4, 6, 5]

In [87]:
l = [2,3,4,5,66.5,'sudh','kuamr', [2,35,4,5]]

In [88]:
#write a function that extracts only numbers from a list
def nums_from_list(lst):
    l2=[each_el for each_el in lst if type(each_el)==int or type(each_el)==float]
    return l2

In [89]:
nums_from_list(l)

[2, 3, 4, 5, 66.5]

In [98]:
#write a function that extracts only numbers from a list
l3=[]
def nums_from_list2(lst):
    for each_el in lst:
        if type(each_el)==int or type(each_el)==float:
            l3.append(each_el)
        elif type(each_el)==list:
            inside_list = each_el
            l3.append(list(i for i in inside_list if type(i)==int or type(i)==float))
    return l3

In [99]:
nums_from_list2(l)

[2, 3, 4, 5, 66.5, [2, 35, 4, 5]]

In [102]:
l3=[]
def nums_from_list3(lst):
    """
    this function extracts numeric data from list
    """
    for each_el in lst:
        if type(each_el)==int or type(each_el)==float:
            l3.append(each_el)
        elif type(each_el)==list:
            inside_list = each_el
            for i in inside_list:
                if type(i)==int or type(i)==float:
                    l3.append(i)
    return l3

In [101]:
nums_from_list3(l)

[2, 3, 4, 5, 66.5, 2, 35, 4, 5]

In [105]:
def test7(a,b):
    return a+b

In [107]:
def test8(*args):
    return args

In [108]:
test8()

()

In [109]:
test8(3,5,2)

(3, 5, 2)

In [110]:
test8(1,3,5,2,52,5,4,3)

(1, 3, 5, 2, 52, 5, 4, 3)

In [111]:
def test9(*args, a):
    return args,a

In [112]:
test9(2,5,2,4)

TypeError: test9() missing 1 required keyword-only argument: 'a'

In [113]:
def test10(*args, a=12):
    return args,a

In [114]:
test10(23,52,4324,5)

((23, 52, 4324, 5), 12)

In [115]:
def test11(c,d,a=23, b=1):
    return a,b,c,d

In [116]:
test11()

TypeError: test11() missing 2 required positional arguments: 'c' and 'd'

In [117]:
test11(3,4)

(23, 1, 3, 4)

In [118]:
test11(2,5, a =233)

(233, 1, 2, 5)

In [119]:
def test12(**kwargs):
    return kwargs

In [124]:
test12()

{}

In [125]:
type(test12())

dict

In [126]:
test12(a = [1,2,4,5], b='sudh', c=24.4)

{'a': [1, 2, 4, 5], 'b': 'sudh', 'c': 24.4}