# Map Function Exercises
**1:** Write a Python program to triple all numbers in a given list of integers. Use Python map.

In [4]:
def trippler(numbers):
    return numbers*3

given_list = [2,4,5,6]
list(map(trippler,given_list))

[6, 12, 15, 18]

**2:** Write a Python program to add three given lists using Python map and lambda

In [6]:
given_list1=[1,2,4,5,6]
given_list2=[4,2,5,6,6]
given_list3=[1,4,7,2,6]

list(map(lambda input_list1,input_list2,input_list3: input_list1+input_list2+input_list3, given_list1,given_list2,given_list3))

[6, 8, 16, 13, 18]

**3:** Write a Python program to listify the list of given strings individually using Python map.

In [20]:
def listifier(str_list):
    listified=[]
    for each_element in str_list:
        listified.append(each_element)   
    return listified

given_list=['Red', 'Blue', 'Black', 'White', 'Pink']

list(map(listifier,given_list))

[['R', 'e', 'd'],
 ['B', 'l', 'u', 'e'],
 ['B', 'l', 'a', 'c', 'k'],
 ['W', 'h', 'i', 't', 'e'],
 ['P', 'i', 'n', 'k']]

**4:** Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map

In [21]:
base_numbers=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
indeces = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda base_numbers,indeces: base_numbers**indeces, base_numbers,indeces))

[10,
 400,
 27000,
 2560000,
 312500000,
 46656000000,
 8235430000000,
 1677721600000000,
 387420489000000000,
 100000000000000000000]

In [23]:
base_numbers=[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
indeces = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def power_multiplier(base_numbers, indeces):
    return base_numbers**indeces

list(map(power_multiplier,base_numbers,indeces))

[10,
 400,
 27000,
 2560000,
 312500000,
 46656000000,
 8235430000000,
 1677721600000000,
 387420489000000000,
 100000000000000000000]

**5:** Write a Python program to square the elements of a list using the map() function.

In [24]:
given_list = [4, 5, 2, 9]

def squared_list(given_list):
     return given_list**2
    
list(map(squared_list,given_list))

[16, 25, 4, 81]

In [25]:
given_list = [4, 5, 2, 9]

list(map(lambda input_list: input_list**2, given_list))

[16, 25, 4, 81]

**6:** Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function.

In [28]:
given_sequence = {'f', 'b', 'U', 'i', 'o', 'E', 'a'}

def my_func(given_sequence):
    return given_sequence.upper(),given_sequence.lower()
set(map(my_func,given_sequence))

{('A', 'a'),
 ('B', 'b'),
 ('E', 'e'),
 ('F', 'f'),
 ('I', 'i'),
 ('O', 'o'),
 ('U', 'u')}

**8:** Write a Python program to add two given lists and find the difference between them. Use the map() function.

In [29]:
given_list1 = [6, 5, 3, 9]
given_list2 = [0, 1, 7, 7]

def my_func(given_list1,given_list2):
    return given_list1+given_list2, given_list1-given_list2

list(map(my_func, given_list1,given_list2))

[(6, 6), (6, 4), (10, -4), (16, 2)]

**9:** Write a Python program to convert a given list of integers and a tuple of integers in a list of strings

In [33]:
given_list = [6, 5, 3, 9]
given_tuple = (5, 2, 5, 7)

def string_converter(given_sequence):
    return str(given_sequence)

list_strings = list(map(string_converter, given_list))
tuple_strings = tuple(map(string_converter, given_tuple))

print(list_strings)
print(tuple_strings)

['6', '5', '3', '9']
('5', '2', '5', '7')

**9:** Write a Python program to create a new list taking specific elements from a tuple and convert a string value to an integer.

In [42]:
given_list = [('Alberto Franco', '15/05/2002', '35kg'), ('Gino Mcneill', '17/05/2002', '37kg'), ('Ryan Parkes', '16/02/1999', '39kg'), ('Eesha Hinton', '25/09/1998', '35kg')]

print(list(map(lambda element: element[0], given_list)))
print(list(map(lambda element: element[1], given_list)))
print(list(map(lambda element: element[2], given_list)))

['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
['35kg', '37kg', '39kg', '35kg']

# Filter Function Exercises
**1:** Using filter() function filter the list so that only negative numbers are left.

In [43]:
lst1=[12, -1, 9, 8, -0.5, -0.2, -100]

def negs(given_list):
    if given_list <0:
        return given_list

lst2 = list(filter(negs,lst1))
lst2

[-1, -0.5, -0.2, -100]

In [44]:
lst1=[12, -1, 9, 8, -0.5, -0.2, -100]
lst2 = list(filter(lambda input_list: input_list<0, lst1))
lst2

[-1, -0.5, -0.2, -100]

**2:** Using filter function, filter the even numbers so that only odd numbers are passed to the new list.

In [49]:
lst1=[22, 100, 19, 13, 11, 1, 4, 66]
lst2=list(filter(lambda input_list: input_list%2==1, lst1))
print(lst2)

[19, 13, 11, 1]

**3:** Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [52]:
str1="Winter Olympics in 2022 will take place in Beijing China"
vowels = ['a','e','i','o','u']
lst=list(filter(lambda input_str:input_str.lower() in vowels, str1))

print(lst)

['i', 'e', 'O', 'i', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'e', 'i', 'i', 'i', 'a']

**4:** This time using filter() and list() functions filter all the positive integers in the string.

In [54]:
str1="Winter Olympics in 2022 will take place in Beijing China"
#Type your answer here.

lst=list(filter(lambda input_str: input_str.split() and input_str.isdigit(),str1))
print(lst)

['2', '0', '2', '2']

**5:** Using map() and filter() functions add 2000 to the values below 8000.

In [57]:
lst1=[1000, 500, 600, 700, 5000, 90000, 17500]

lst2 = list(map(lambda input_list: input_list+2000,filter(lambda input_list:input_list<8000,lst1)))
print(lst2)

[3000, 2500, 2600, 2700, 7000]

**6:** This time swap the map() and filter() functions so that map() function is inside filter() function. Convert a number to positive if it's negative in the list. Only pass those that are converted from negative to positive to the new list.

In [1]:
lst1=[-1000, 500, -600, 700, 5000, -90000, -17500]

lst2=list(filter(lambda input_list:input_list>0, map(lambda input_list: input_list*-1,lst1)))

print(lst2)

[1000, 600, 90000, 17500]