# For loop with lists

In [1]:
l = [1,2,3,4,5]

In [3]:
for each_element in l:
    print(each_element, type(each_element))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [4]:
l1= ['owais', 'tahir','sudh', 'krish','naik']

In [5]:
for each_element in l1:
    print(each_element)

owais
tahir
sudh
krish
naik

In [6]:
l1

['owais', 'tahir', 'sudh', 'krish', 'naik']

In [8]:
for i in l1:
    print(i)
else:
    print("if for loop is able to complete itself then only else will execute")

owais
tahir
sudh
krish
naik
if for loop is able to complete itself then only else will execute

In [9]:
l1

['owais', 'tahir', 'sudh', 'krish', 'naik']

In [10]:
for i in l1:
    if i == 'tahir':
        break
    print(i)

owais

In [11]:
l1

['owais', 'tahir', 'sudh', 'krish', 'naik']

In [12]:
for i in l1:
    if i == 'tahir':
        break
    print(i)
else:
    print("Execute this if for loop is able to complete itself")

owais

In [13]:
l1

['owais', 'tahir', 'sudh', 'krish', 'naik']

In [18]:
for i in l1:
    if i == "tahir":
        continue
    print(i)
else:
    print("Execute this if for loop is able to complete itself")

owais
sudh
krish
naik
Execute this if for loop is able to complete itself

In [19]:
for i in l1:
    if i == "tahir":
        pass
    print(i)

owais
tahir
sudh
krish
naik

In [22]:
range(5) #range is a generator function
#range 0 to 5(excluded)

range(0, 5)

In [24]:
list(range(5))

[0, 1, 2, 3, 4]

In [25]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [26]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [27]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [28]:
l1

['owais', 'tahir', 'sudh', 'krish', 'naik']

In [33]:
for i in range(len(l1)):#0 to 4
    print(l1[i])

owais
tahir
sudh
krish
naik

In [39]:
for i in range(len(l1)-1, -1, -1):
    print(l1[i])

naik
krish
sudh
tahir
owais

In [40]:
l2 = [33,22.52,55,22,66,24,466,254,3]

In [43]:
for i in range(0,len(l2),2):
    print(l2[i])

33
55
66
466
3

In [44]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8]

In [45]:
l = [1,2,3,4,66,44,24,21]

In [48]:
result=0
for i in range(len(l)):
    result=result+l[i]
print(result)


result2=0
for i in l:
    result2=result2+i
print(result2)

165
165

In [49]:
sum(l)

165

# For loop with Tuple

In [50]:
t = (1,2,3,4,5,6,7,9)
for i in t:
    print(i)

1
2
3
4
5
6
7
9

In [51]:
result = 0
for i in t:
    result = result+i
print(result)

37

# For loop with Sets

In [52]:
s = {1,2,3,4,'sudh','pwskills'}

for i in s:
    print(i)

1
2
3
4
pwskills
sudh

## For loop with Strings

In [53]:
s1 = 'pwskills'

In [54]:
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

# For loop with Dicts

In [55]:
d = {'name': 'sudh', 'class':'data science masters', 'topic':['python','stats','machine learning','deep learning','computer vison','nlp','resume','interview preparation']}

In [56]:
d

{'name': 'sudh',
 'class': 'data science masters',
 'topic': ['python',
  'stats',
  'machine learning',
  'deep learning',
  'computer vison',
  'nlp',
  'resume',
  'interview preparation']}

In [57]:
d['name']

'sudh'

In [58]:
for i in d.keys():
    print(d[i])

sudh
data science masters
['python', 'stats', 'machine learning', 'deep learning', 'computer vison', 'nlp', 'resume', 'interview preparation']

In [60]:
for i in d.values():
    print(i)

sudh
data science masters
['python', 'stats', 'machine learning', 'deep learning', 'computer vison', 'nlp', 'resume', 'interview preparation']

In [61]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', 'data science masters')
('topic', ['python', 'stats', 'machine learning', 'deep learning', 'computer vison', 'nlp', 'resume', 'interview preparation'])